<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD</title>
</head>
<body>
    <h1>Adicionar Usuário</h1>
    <form action="", method="POST">
        <label>Nome:</label>
        <input type="text" name="nome" required>

        <label>Idade:</label>
        <input type="text" name="idade" required>

        <label>Cidade:</label>
        <input type="text" name="cidade" required>
        <button type="submit">Salvar</button>
    </form>
</body>
</html>