<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Primeiro código</title>
    <!--Link para o CSS-->
    <link href="{{url_for('static', filename='style.css')}}" rel="stylesheet">
</head>
<body>
    <h1 class="card-title">{{ mensagem }}</h1>
</body>
</html>

<!--
Crie uma página web por meio do framework flask, onde se tenha uma
lista com 10 times (Implemente uma tabela). A página deve ser estilizada e o conteúdo centralizado. Em um segundo momento deve-se implementar uma estrutura de repetição FOR para listar os times.
-->